@font-face {
  font-family: 'EBGaramond';
  src: url(Medios/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Gistesy';
  src: url(Medios/gistesy/Gistesy.ttf);
}
body {
    min-height: 100vh;
    min-width: 100vw;
    display: inline-block;
    background: white;
    font-size: 16px;
}
.fuente1{
  font-family: 'Gistesy';
  text-align: center;
  text-shadow: 1px 2px 3px black;
  z-index: 2;
  margin: 0;
  position: relative;
}
.fuente2{
  font-family: 'EBGaramond';
  text-align: center;
  text-shadow: 1px 2px 3px black;
  z-index: 2;
  margin: 0;
  position: relative;
}
.titulos{
  font-size: 5em;
  font-weight: 100;
  padding: 1% 0;
}
.texto{
  font-size: 3em;
}
.color1{
  color: white;
}
.color2{
  color: #105A4C;
}
.separador{
  width: 100vw;
  height: auto;
  padding: 1% 0;
}
audio{
  z-index: 2;
  display: inline-block;
  position: relative;
  opacity: .3;
}
h2{
    right: 15%;
    padding: 1% 0 1% 80%;
}
h4{
    padding-left: 50%;
    padding-top: 1%;
}
section{
    width: 100vw;
    height: 100vh;
    display: block;
}
.colorFondo{
    background-color: #105A4C;
}
.imgFondo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}
/*Cuenta regresiva*/
.contenedor {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;
    padding-left: 50%;
  }
  .cartel {
    width: 109px;
    height: 109px;
    padding: 10px 0px 5px 0px;
    text-align: center;
    display: inline-block;
  }
  .cartel>div{
    font-size: 3.125em;
    font-family: 'EBGaramond';
    animation: fade 3s;
    line-height: 30px;
    margin-top: 5px;
  }
  .cartel>div>h3 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: normal;
  }
  .h3 {
    bottom: 0;
    margin: 0 auto ;
    position: relative;
    z-index: 1;
    padding-left: 0;
    color: white;
    text-shadow: 1px 2px 3px black;
  }
  .contenedor {
    margin-top: 1%;
  }
  .contenido {
    width: 80%;
    margin: 0 auto;
    z-index: 10;
  }
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  li span {
    display: block;
    font-size: 4.5rem;
  }
  .numeros {
    font-family: 'EBGaramond';
    font-size: 3.75em;
    transition: .3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  .responsivo1 {
    display: inline-block
  }
  .responsivo2 {
    display: inline-block
  }
  @media (max-width: 450px) {  
    .contenedor {
      margin: 0;
    }
    .banner {
     margin-bottom: 30px; 
    }
    .cartel {
      height: 70px;
      width: 70px;
      padding: 0;
      margin: 1%;
    }
    .cartel>div{
      font-size: 2.8125em;
    }
    .cartel>div>h3 {
      font-size: 0.9375em;
      margin-top: 0px;
    }
  }
  @keyframes fade {
      0%   {
        opacity: 0;
    }
      30%   {
        opacity: 0;
    }  
      100% {
        opacity: 1;
    }
  }
/*Fin de Cuenta regresiva
  Seccion Padres
*/
.papas{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 100px 80px 80px;
    gap: 7% 0;
    margin: 1% 0;
    padding: 3% 0;
}
.cruz{
    width: 50px;
}
/*Fin de Seccion Padres
Inicio seccion diosito
*/
.diosito{
  margin: auto;
}
.imgMarco{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*
Fin Seccion Padres
Seccion padrinos
*/
.padrinos{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 60px 110px 60px 110px 60px 110px;
    gap: 5% 0;
    margin: 1% 0;
    text-align: center;
}
/*
Fin Seccion padrinos
Seccion Itinerario
*/
.seccionItinerario{
  height: 200vh;
}
.itinerario{
  position: relative;
  z-index: 2;
  object-fit: contain;
  height: 180vh;
  width: 100vw;
  }
/*
Fin Seccion Itinerario
Seccion Evento
*/
.eventos{
width: 100%;
height: 80%;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 80% 20%;
}
.evento{
  width: 65%;
  height: 75%;
  background-color: #ffffff80;
  margin: auto;
  display: inline;
  border-radius: .5em;
}
a{
  border: 1px solid #105A4C;
  background-color: white;
  padding: 0 1%;
  position: relative;
  border-radius: .7em;
  text-decoration: none;
  width: 65%;
  height: 50%;
  margin: auto;
  text-align: center;
}
.ubicacion2{
  display: none;
}
.imgEvento{
  width: .9em;
  height: .9em;
}
/*
Fin Seccion Evento
Seccion Galeria
*/
.carousel{
  height: 89%;
  width: 80%;
  z-index: 2;
  display: flex;
  margin: 0 auto;
}
.imgCarousel{
  width: auto;
  height: 900px;
  object-fit: contain;
}
/*
Fin Seccion Galeria
Sección Recomendaciónes
*/
.regalo{
  height: 5%;
  width: 5%;
  margin: 0 47.5%;
}
/*
Fin Seccion Recomendaciónes
Sección Asistencia
*/

/*
Fin Sección Asistencia
resposive
*/
@media (max-width: 450px) {
  body{
    font-size: 7px;
  }
  .margenes{
    height: 100%;
    width: 90%;
    margin: auto auto;
  }
  .cruz{
    width: 25px;
  }
  .separador{
    width: 100%;
  }
  .diosito{
    padding: 50% 1%;
  }
  .imgFondo{
    height: 100vh;
  }
  .imgMarco{
    display: none;
  }
  .padrinos{
    gap: 0;
  }
  .seccionItinerario{
    height: 100vh;
  }
  .itinerario{
    height: 90vh;
  }
  .eventos{
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  .imgEvento{
    width: 1.5em;
    height: 1.5em;
  }
  .ubicacion{
    display: none;
  }
  .ubicacion2{
    display: inline-block;
    height: auto;
    width: 60%;
    margin: 2% 24%;
  }
  .carousel{
    height: auto;
    width: 99%;
    z-index: 2;
    display: flex;
    margin: 20% auto;
  }
  .imgCarousel{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .regalo{
    height: auto;
    width: 10%;
    margin: 5% 45%;
  }
}